Django==5.2.8
python-decouple==3.8
Pillow==11.1.0
django-compressor==4.5.1
django-ratelimit==4.1.0
django-debug-toolbar==4.4
celery==5.4.0
redis==7.1.0
django-celery-results==2.5.1

# PostgreSQL adapter
psycopg2-binary==2.9.9

# Production server
gunicorn

# REST Framework
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-filter==25.2
drf-spectacular==0.29.0
django-cors-headers==4.9.0
